footer {
    bottom: 0;
    padding: 10px;
    width: 100%;
    margin-top: 1.5em;
    font-family: 'HelveticaCondensedBold';
}
.footer-content {
    margin: auto;
    text-align: center;
}

.footer-content ul {
    list-style: none;
    padding-inline-start: 0px !important;
}
.footer-content ul li {
    display: inline;
    padding: 5px;
}
.footer-content ul li a i {
    color: black;
}