@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Black.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.ttc');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'HelveticaCondensedBold';
  src: url('HelveticaNeueCondensedBold.ttf');
  font-style: normal;
}


body {
  padding-top: 9rem;
  height: 100%;
}

.card {
  margin-bottom: 2.25rem;
}

.carousel-caption{
  text-align: left !important;
}

.logo {
  width: 250px;
}

.imagen{
  object-fit: cover !important;
  height: 75vh;
}

nav {
  font-family: "HelveticaCondensedBold"; 
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 2em;
  margin: 0 !important;
}


.post {
  position: relative;
}
.row {
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
div .col-md-6{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.col-md-6 h1{
  font-family: "HelveticaCondensedBold"; 
}
.main {
  margin: auto !important;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}
 
.texto-encima{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: 'Montserrat';
  text-align: left;
}

.category-tag {
  position: absolute;
  font-family: 'HelveticaCondensedBold';
  padding-left: 25pt;
  padding-right: 25pt;
  padding-top: 10pt;
  top: 0vh;
  text-align: left;
  font-size: 16pt;
  text-decoration: none;
  color: white;
  margin-top: 0px;
}

.card-body {
  padding: 10px;
  font-family:'HelveticaCondensedBold';
}
.card{
  border: white !important;
}
.card a{
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.post-title {
  position: absolute;
  bottom: 0.5em;
  padding-bottom: 0.1em;
  font-size: 80pt;
  font-family: 'Montserrat';
  color: "#b98051";
}
.post-body {
  font-family: 'HelveticaNeue';
  text-align: justify;
  text-justify: inter-word;
}
.carousel-inner h1 {
  font-family: 'Montserrat';
}
.titleInMiddle {
  font-style: italic;
}
.container {
  position: relative;
  text-align: center;
}
.navbar-light .navbar-toggler{
  border-color: white !important;
}
.nav-item:hover {
  text-decoration: underline;
}
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }

  .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    font-family: "HelveticaNeue";
  }
}
@media screen and (max-width: 760px) {
  .d-md-block{
    display: block !important;
  }
  .display-5{
    font-size: 24px;
  }

}

.copete {
  font-size: 1.65em;
  font-family: "HelveticaNeue";
}

.autora {
  font-family: "HelveticaNeue";
  font-weight: bold;
  margin-bottom: 0px;
}

.hashtag {
  font-family: "HelveticaNeue";
  font-style: italic;
}

.navbar {
  padding: 0px;
}