<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Font awesome -->
  <link href="/fontawesome-free-5.14.0-web/css/fontawesome.css" rel="stylesheet">
  <link href="/fontawesome-free-5.14.0-web/css/brands.css" rel="stylesheet">
  <link href="/fontawesome-free-5.14.0-web/css/solid.css" rel="stylesheet">

  <title><%=title%></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" style="width: 250px;height: 110px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-3" style="color: #c37760" href="#">musica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" style="color: #dba564" href="#">gastronomia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" style="color: #4b534e" href="#">cine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" style="color: #828f83" href="#">cultura</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link mr-3" style="font-family: HelveticaCondensedBold;" href="#">sobre nosotras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-5" href="#"><i style="color: #000000;" class="fab fa-instagram fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  <body>
    <div class="post">
      <img src="/images/concert.jpg" alt="Concierto" style="width: 1440px; height: 450px;">
      <div style="color: #c37760;" class="post-title ml-5">Titulo de la Nota</div>
      <div style="color: white;" class="post-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        elit libero, viverra
        et est a, mattis feugiat ex. Morbi in purus a libero gravida tristique. Duis mi arcu, ultricies rutrum sapien
        non, tincidunt hendrerit felis. Aenean consectetur ullamcorper sagittis. Phasellus at vehicula turpis. Proin et
        ultrices ex, quis pharetra augue. Pellentesque id mi sem. Vestibulum</div>
    </div>

  </body>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>