<link rel="stylesheet" href="../../css/footer.css">
<footer>
    <div class="footer-content">
        <h2>Blend culture</h2>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>