<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" style="width: 250px;height: 110px;" id="imgNav">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link mr-3 nav-item" style="color: #c37760" href="/category/musica">música</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-3" style="color: #dba564" href="/category/gastronomia">gastronomía</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-3" style="color: #4b534e" href="/category/cine">cine & series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-3" style="color: #828f83" href="/category/cultura">cultura</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item">
        <a class="nav-link mr-3" style="font-family: HelveticaCondensedBold;" href="/about">sobre nosotras</a>
      </li>
      <li class="nav-item" id="navItem">
        <a class="nav-link mr-5" href="#">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>