<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" class="logo" id="imgNav">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item active">
        <a class="nav-link nav-item" style="color:#c37760;" href="/category/musica">música</a>
      </li>
      <li class="nav-item mr-2 ml-2" >
        <a class="nav-link" style="color: #dba564;" href="/category/gastronomia">gastronomía</a>
      </li>
      <li class="nav-item mr-2 ml-2">
        <a class="nav-link" style="color: #4b543e;" href="/category/cine">cine & series</a>
      </li>
      <li class="nav-item mr-2 ml-2">
        <a class="nav-link" style="color: #828f83;" href="/category/cultura">cultura</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item mr-2 ml-2">
        <a class="nav-link" href="/about">sobre nosotras</a>
      </li>
      <li class="nav-item mr-2 ml-2">
        <a class="nav-link" href="/#">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>